:root {
    --colorAzul : #2C3E50;
	--colorVerde : #18BC9C;
    --familyTitles : 'Montserrat';
    --colorGris: #f8efed;
    --colorBlanco: #ffffff;
    --colorRosa : #dfa2b5;
    --colorNaranja: #dfb6a1;
    --colorFucsia : #d66fa5;
    --colorRosaFuerte: #d67cb2;
    --colorMorado : #783c5e;
}
